a {
  text-decoration: none;
}
b{
  color: rgba(0,0,0,.8);
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}


/* BACK TO TOP BUTTON */

.top-btn img {
  opacity: .3;
  width: 80%;
  height: 70%;
  margin: 15% 10%;
}

.top-btn {
  background-color: rgba(0,0,0,.8);
  opacity: 0.5;
  border-radius: 10px;
  bottom: 20px;
  height: 50px;
  position: fixed;
  right: 30px;
  width: 50px;
  z-index: 10;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  transition: transform 0.3s, opacity 0.3s;
}

.top-btn:hover {
  transform: rotate(0deg);
  opacity: 1;
}


/* SRL-RED? BUTTON */

.srlred {
  position: absolute;
  right: 2%;
  top: 210px;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: start;
}

.sr-ext{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  margin-right: 8px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
}

.sr-ext:hover{
  transform: rotate(0);
}

.sr-circle{
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  background-color: rgba(130, 130, 130, 0.7);
  position: absolute;
}

.sr-int{
  width: 12px;
  height: 24px;
  margin: 13px;
  border-radius: 12px 0 0 12px;
  background-color: white;
  position: absolute;
  transform-origin: right;
  transition: transform 0.3s ease;
}

.srlred:hover .sr-int {
  transform: rotate(-180deg);
}

.srlred p {
  font-size: 16px;
  font-family: verdana;
  color: white;
  padding: 0 8px;
  margin: 2px;
  line-height: 36px;
  border: 2px solid white;
  border-radius: 14px;
  transition: all 0.3s ease;
}

.srlred:hover p {
  background-color: white;
  color: rgba(150, 150, 150, 1);
}


/* HEADER */

.header{
  position: relative;
}

.top-links {
  height: 170px;
  width: 100%;
  background-color: rgba(130, 130, 130, 0.6);
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 20%;
}

.logo img {
  margin: 50px 10px;
  width: 80%;
}

.search{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 60px auto;
  width: 120px;
  padding: 5px 0;
  border: 3px solid white;
  border-radius: 6px;
}

.search img{
  width: 22px;
  height: 22px;
  margin: 5px 0;
  filter: brightness(100);
}

.search:hover img{
  filter: contrast(0);
}

.search p{
  margin: 0 5px;
  padding: 0;
  transform: rotate(0deg);
  line-height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: verdana;
}

.header-tile {
  width: 14%;
  position: relative;
}

.header-link {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-link h2 {
  transition: color 0.3s ease;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: verdana;
  margin: 5px 0;
}

.header-link:hover h2 {
  color: rgba(0,0,0,0.8);
}

.header-link p{
  transition: color 0.3s ease;
  color: white;
  font-size: 12px;
  font-family: verdana;
  font-style: italic;
  margin: 0;
  line-height: 15px;
}

.header-link:hover p{
  color: rgba(0,0,0,0.8);
}

.header-link img{
  width: 35px;
  height: 35px;
  margin-top: 33px;
  margin-bottom: 10px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  transition: transform 0.3s ease;
  z-index: 2;
}

.header-link:hover img {
  transform: rotate(0deg);
}

.center-p {
  position: absolute;
  top: 210px;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-p p {
  background-color: white;
  font-family: verdana;
  font-size: 26px;
  font-weight: 600;
  color: rgba(0,0,0,0.8);
  margin: 0;
  padding: 12px 10px;
}

.grid2x2 {
  display: grid;
  grid: 750px 600px /50% 50%;
  font-family: Arial;
}

.grid2x2 a{
  color: white;
  display: block;
  height: 100%;
}

.grid2x2 a:hover{
  color: rgba(0,0,0,0.8);
}

.grid2x2 img{
  width: 60px;
  height: 60px;
  border: 5px solid white;
  border-radius: 10px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  transition: transform 0.2s;
  z-index: 2;
}

.grid2x2 img:hover{
  transform: rotate(0deg);
}

.grid-tile{
  position: relative;
  box-sizing: border-box;
  padding: 60px 0;
  height: 100%;
  margin: 0 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-tile p{
  padding-left: 20px;
  padding-top: 10px;
}

.grid-tile h1{
  padding-top: 5px;
  font-size: 40px;
}

.grid-tile ul{
  padding: 10px 0;
}

.grid-tile li{
  display: inline;
  padding-right: 20px;
  font-weight: 600;
}

.grid-tile h2{
  font-size: 40px;
  margin-bottom: 0;
}

.grid2x2 a:hover h2{
  color: white;
  animation: arrow .4s ease-in infinite alternate;
}

@keyframes arrow {
  from {transform: translateX(0);}
  to {transform: translateX(40px);}
}

.upper-left {
  background-color: rgba(130, 130, 130, 0.8);
  padding-top: 150px;
}

.upper-right {
  background-color: rgba(130, 130, 130, 0.7);
  padding-top: 150px;
}

.lower-left {
  background-color: rgba(130, 130, 130, 0.9);
}

.lower-right {
  background-color: rgba(130, 130, 130, 0.8);
}


/* ARTICLES */

.lateral-title{
  float: left;
  width: 40px;
  transform: rotate(90deg);
  white-space: nowrap;
  position: relative;
  top: -80px;
  font-size: 10px;
  font-family: arial;
}

.more{
  width: 100%;
  text-align: center;
  height: 100px;
}

.more a{
  color: black;
  padding-bottom: 6px;
  border-bottom: 4px solid gray;
  line-height: 100px;
}

.latest-posts {
  margin: 50px 0;
  display: flex;
  align-items: flex-start;
}

.lateral-title h1{
  display: inline;
}

.lateral-title p{
  display: inline;
  text-decoration: overline;
}

.latest-posts h1 span{
  text-decoration: overline;
}

.latest-posts h2, p, span {
  margin-left: 25px;
  line-height: 25px;
}
.latest-posts h2 {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
}

.latest-posts span {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.latest-posts p.extract {
  margin: 25px;
  text-align: left;
}

.latest-posts div.post {
  transform: scaleX(1.05);
  background-color: white;
  transition: transform 0.5s;
  font-family: arial;
  color: rgba(0,0,0,.8)
}

.latest-posts div.post:hover {
  transform: scale(1.15) translateX(-18px);
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
  z-index: 1;
}


/* ADVERTISING */

.advertising {
  width: 100%;
  height: 500px;
  background: linear-gradient(45deg, gray, silver, gray);
  border-radius: 20px;
  position: relative;
}

.advertising h2 {
  font-size: 8vw;
  font-family: monospace;
  color: black;
  opacity: .8;
  position: absolute;
  top: 0;
  transition: all 2s ease;
}

.a{
  left: 50%;
  margin-left: -480px;
}

.d{
  left: 50%;
  margin-left: -390px;
}

.v{
  left: 50%;
  margin-left: -300px;
}

.e{
  left: 50%;
  margin-left: -210px;
}

.r{
  left: 50%;
  margin-left: -120px;
}

.t{
  left: 50%;
  margin-left: -30px;
}

.i1{
  left: 50%;
  margin-left: 60px;
}

.s{
  left: 50%;
  margin-left: 150px;
}

.i2{
  left: 50%;
  margin-left: 240px;
}

.n{
  left: 50%;
  margin-left: 330px;
}

.g{
  left: 50%;
  margin-left: 420px;
}

.advertising:hover .a{
  top: 180px;
  margin-left: -210px;
  transform: rotate(360deg);
}

.advertising:hover .d{
  top: 180px;
  margin-left: -120px;
  transform: rotate(360deg);
}

.advertising:hover .v{
  margin-left: 420px;
  animation-name: ad-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.advertising:hover .e{
  top: 180px;
  margin-left: 60px;
  transform: rotate(360deg);
}

.advertising:hover .r{
  top: 180px;
  margin-left: -300px;
  transform: rotate(360deg);
}

.advertising:hover .t{
  top: 180px;
  margin-left: 240px;
  transform: rotate(360deg);
}

.advertising:hover .i1{
  top: 180px;
  margin-left: -30px;
  transform: rotate(360deg);
}

.advertising:hover .s{
  top: 180px;
  margin-left: 330px;
  transform: rotate(360deg);
}

.advertising:hover .i2{
  margin-left: -480px;
  animation-name: ad-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.advertising:hover .n{
  top: 180px;
  margin-left: 150px;
  transform: rotate(360deg);
}

.advertising:hover .g{
  top: 180px;
  margin-left: -390px;
  transform: rotate(360deg);
}

@keyframes ad-animation {
  0 {transform: rotate(0); color: blue; top: 0;}
  50% {transform: rotate(180deg); color: red; top: 180px;}
  100% {transform: rotate(360deg); color: blue; top: 0;}
}


/* COMMUNITY LINKS */

.principal {
  display: flex;
  margin: 50px 100px;
  width: 60%;
  padding: 0 80px;
  color: rgba(0,0,0,.8);
}

.principal img {
  position: relative;
  top: 25px;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  border: solid 2px black;
  border-radius: 10px;
  transition: transform 0.2s;
}

.principal img:hover {
  transform: rotate(0deg);
}

.principal p {
  font-size: 24px;
  margin: 0 30px;
}

.principal h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-left: 30px;
}

.other {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: rgba(0,0,0,.8);
  padding: 20px 60px;
}

.community-tile {
  display: flex;
  margin: 30px 30px;
  padding-left: 20px;
}

.community-tile img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
  margin-top: 10px;
  transform-origin: 0 100%;
  transform: rotate(-15deg);
  border: solid 2px black;
  border-radius: 10px;
  transition: transform 0.2s;
}

.community-tile img:hover {
  transform: rotate(0deg);
}

.community-tile p {
  margin: 10px 20px;
}

.community-tile h2 {
  padding-left: 20px;
}

.community-tile h2:hover {
  text-decoration: underline;
}


/* FOOTER */

.footer {
  background-color: silver;
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.footer h2 {
  padding: 50px 0;
  font-size: 16px;
  color: black;
}

.footer li {
  display: inline-block;
  font-size: 22px;
  padding: 5px 0;
}

.footer a {
  margin: 0 10px;
  color: black;
}

.footer a:hover{
  text-decoration: underline;
}

.footer img {
  width: 100%;
  height: 100%;
}

.footer-cat {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.footer-cage {
  display: inline-block;
  width: 200px;
  height: 250px;
}

.footer-rest{
  display: inline-block;
  width: 40%;
  margin: 0 auto 20px auto;
}

.footer-rest ul{
  padding: 5px 0;
  width: 70%;
  margin: 20px auto;
}

.footer-rest li{
  font-size: 12px;
}

.footer-rest p{
  font-size: 14px;
  margin: 0;
  padding: 2px 0;
}


/* SHADOWS */

.center-p-shadow{
  background: radial-gradient(rgba(0,0,0,.3) 5%, rgba(0,0,0,.2), rgba(0,0,0,.1), rgba(0,0,0,.05), rgba(0,0,0,.02), rgba(0,0,0,.01), rgba(0,0,0,0) 50%);
  background-position: center bottom;
  background-size: 500px 100px;
  background-repeat: no-repeat;
}

.header-shadow{
  position: absolute;
  top: 58px;
  background: radial-gradient(rgba(0,0,0,.3) 5%, rgba(0,0,0,.2), rgba(0,0,0,.1), rgba(0,0,0,.05), rgba(0,0,0,.02), rgba(0,0,0,.01), rgba(0,0,0,0) 50%);
  width: 80px;
  height: 16px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.header-link:hover .header-shadow{
  opacity: 0;
}

.sr-shadow{
  position: absolute;
  top: 33px;
  right: 138px;
  background: radial-gradient(rgba(0,0,0,.3) 5%, rgba(0,0,0,.2), rgba(0,0,0,.1), rgba(0,0,0,.05), rgba(0,0,0,.02), rgba(0,0,0,.01), rgba(0,0,0,0) 50%);
  width: 150px;
  height: 30px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sr-ext:hover + .sr-shadow{
  opacity: 0;
}

.grid-shadow{
  position: absolute;
  top: 103px;
  left: 0;
  margin-left: -100px;
  background: radial-gradient(rgba(0,0,0,.3) 5%, rgba(0,0,0,.2), rgba(0,0,0,.1), rgba(0,0,0,.05), rgba(0,0,0,.02), rgba(0,0,0,.01), rgba(0,0,0,0) 50%);
  width: 250px;
  height: 50px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.grid-tile img:hover + .grid-shadow{
  opacity: 0;
}
